.red {
    color: red;
}

.blau {
    color: blue;
}

#test,
#test2 {
    margin: 20px;
}

input:nth-child(2) {
    margin-left: 10px;
}

/* with dataFetching fille */

#ulItems {
    height: 200px;
    overflow: scroll;
    border: 5px solid #000;
    list-style-type: auto;
}